
button.#{$grommet-namespace}button {
    background-color: $btn-bg-color;
    border-radius: 3px;
    border: none;
    color: #fff;
    margin-top: 25px;
    height: 45px;
    width: 100%;
    margin-bottom: 25px;
    font-size: 13px;
    
    .button-add {
        height: 45px !important;
        width: 45px !important;
    }
}
button.#{$grommet-namespace}button.button-delete {
        height: 35px;
        width: 35px;
        margin-top: 5px;
        margin-bottom: 5px;
        background-color: $btn-bg-color-delete;
}
button.#{$grommet-namespace}button.button-update {
    height: 35px;
    width: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: $btn-bg-color-update;
}

button.#{$grommet-namespace}button.button-cancel {
    height: 35px;
    width: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: $btn-bg-color-cancel;
    padding: 0px 0px;
}
button.#{$grommet-namespace}button:hover {
    background-color: $btn-bg-hover;
    color: #000;
}

button.#{$grommet-namespace}button.submit-btn {
    background-color: $btn-bg-color-submit;
}
button.#{$grommet-namespace}button.submit-btn:hover {
    background-color: $btn-bg-color-add-hover;
}

button.#{$grommet-namespace}button.btn-toggle-list {
    background-color: $btn-bg-color-submit;
    margin-top: 0px;
    margin-left: auto;
}

button.#{$grommet-namespace}button.log_out {
    background-color: $btn-bg-color-logout;
    border-radius: 3px;
    border: none;
    color: #fff;
    height: 45px;
    max-width: 150px;
    margin-bottom: 25px;
    font-size: 13px;
}

button.#{$grommet-namespace}button.toss-up {
    width: 50%;
}

button.#{$grommet-namespace}button.button-add {
    background-color: $btn-bg-color-add;
    width: 35px;
    height: 35px;

}
button.#{$grommet-namespace}button.button-add:hover {
    background-color: $btn-bg-color-add-hover;
    color: #fff;
    border: $btn-bg-color-add-hover 1px solid;
    border-radius: 3px;
    transition: 0.5s;
}
button.#{$grommet-namespace}button.button-delete:hover {
    background-color: $btn-bg-color-delete-hover;
    color: #fff;
    border: $btn-bg-color-delete-hover 1px solid;
    border-radius: 3px;
    transition: 0.5s;
}
button.#{$grommet-namespace}button.button-update:hover {
    background-color: $btn-bg-color-update-hover;
    color: #fff;
    border: $btn-bg-color-update-hover 1px solid;
    border-radius: 3px;
    transition: 0.5s;
}
button.#{$grommet-namespace}button.button-cancel:hover {
    background-color: $btn-bg-color-cancel-hover;
    color: #fff;
    border: $btn-bg-color-cancel-hover 1px solid;
    border-radius: 3px;
    transition: 0.5s;
}