
$namespace: 'grommetux-';
//Primary color

$bg-color: #009688;


$btn-color: #CDDC39;
$btn-bg-color: #c0ca33;
$btn-not-active-color: #FBC02D;
$btn-bg-hover: #CDDC39;


$input-warning-color: #FFD54F;
$input-border-color: #c0ca33;
$input-focus-border-color:#FFD54F;

$h1-color-white: #fff;
$h2-color-white: #fff;
