
$namespace: 'grommetux-';
//Primary color

$bg-color: #009688;


$btn-color: #CDDC39;
$btn-bg-color: #212121;
$btn-bg-color-blue: #00B8D4;
$btn-bg-color-green: #8ab527;
$btn-bg-color-submit: #212121;
$btn-bg-color-logout: #E65100;

$btn-not-active-color: #FBC02D;
$btn-bg-hover: #CDDC39;


$input-warning-color: #FFD54F;
$input-border-color: #c0ca33;
$input-border-color-focus:#E65100;
$input-bg-color: #E0E0E0;

$h1-color-white: #fff;
$h2-color-white: #fff;
$h2-color:#00B8D4;
$h1-color:#212121;
