form.#{$grommet-namespace}form.create-player-form {
    max-width: 296px;
    margin-right: 0px;
}

form.create-tournament {
    max-width: 280px;
    .input {
        width: 280px;
    }
}

form.#{$grommet-namespace}form {
    max-width: 280px;
    margin-right: 0px;
}
