.size-img-small {
    max-width: 130px;
    max-height: 130px;
    margin: 0px 30px 15px;
    margin: 25px 0px 25px 0px;
}

.size-img-medium {
    width: 100%;
    height: 100%;
    margin: 0px 30px 15px;
}

.size-img-large {
    width: 270px;
    height: 160px;
    margin: 0px 30px 15px;
    margin-bottom: 45px;
}

.size-img-button-small {
    margin-bottom: 10px;
}

.avatar-facebook {
    border-radius: 4px;
}