.input-main {
    border: none;
    padding: 5px 10px;
    background-color: #fff;
    height: 30px;
    border-left: 5px $input-border-color solid;
}

input:focus { 
    border-left: 5px $input-focus-border-color solid;
}

input[type=text] {
    background-color: #fff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
    background-color: #FFFFFF !important;
    color: #555 !important;
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: #555555 !important;
    }