.nav-link {
    margin: 10px 5px;
    background-color: $btn-bg-color;
    color: #fff;
    padding: 10px 20px 10px;
    border-radius: 1px;
    text-decoration: none;
    max-width: 250px;
    width: 90px;
    border-radius: 3px;
    font-size: 11px;
    font-weight: bold;
    min-height: 17px;
}

.nav-link-admin {
    margin: 10px 5px;
    background-color: $btn-bg-color;
    color: #fff;
    padding: 10px 15px 10px;
    border-radius: 1px;
    text-decoration: none;
    max-width: 250px;
    width: 170px;
    border-radius: 3px;
    font-size: 11px;
    font-weight: bold;
    min-height: 17px;
    
}

.nav-link-admin:hover {
    background-color: $nav-link-admin-bg-color-hover;
    color: $nav-link-admin-font-color-hover;
    text-decoration: none;
}